[MQTT]
host = localhost
username = ...
password = ...
client_name = ...

[DB]
host = localhost
username = ...
password = ...
db = elco
port = 3306

[REMOCON-NET]
url = https://www.remocon-net.remotethermo.com/
username = ...
password = ...

[InfluxDB]
url = http://influx.local:8086
token = ... 
org = ...
bucket = test-bucket
location = New York
